.tourBox {
	display: inline-block;
	float: left;
	height: 650px;
	width: 46%;
	padding: 2%;
	margin: 2%;
	background-color: white;
	border: 5px solid black;
	border-radius: 10px;
}

.tour-image {
	position: relative;
	overflow: hidden;
	height: 350px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
}

.tour-image img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 350px;
}

.tour-title-and-user-image {
	height: 160px;
	width: 100%;
	overflow: hidden;
	margin-top: 2%;
}

.tour-title-and-user-image h4 {
	float: left;
	width: 68%;
	padding: 1%;
	font-size: 24px;
	font-weight: bold;
}

.profile-image {
	float: right;
	width: 28%;
	height: 200px;
	padding: 1%;
}

.profile-image img {
	float: right;
	height: 100px;
	width: 100px;
	object-fit: cover;
	border: 2px solid black;
	border-radius: 200px;
}
.profile-image p {
	font-size: 18px;
	font-weight: bold;
}