/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}


/* Global
   ================================================================ */

html {
 /*  Place your base font size here */
 font-size: 20px;
 color: #FD9D00;
}


body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
  background-color: #FD9D00;

  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

/* Headings
   ================================================================ */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-size: 30px;
  font-size: 1.5rem;
  line-height: 1;
  float: left;
  margin-top: 4px;
  margin-top: 4px;
  margin-top: 0.20rem;
}

h2 {
  font-family: "Source Sans Pro";
  font-size: 30px;
  font-size: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-size: 25px;
  font-size: 1.25rem;
  margin: 0;
}



/* Text Styles
   ================================================================ */
a, a:visited {
  text-decoration: none;
  color: #222222;
}

p {
  margin: 0 0 30px;
}




/* Header/Footer
   ================================================================ */
header, footer {
  color: white;
  background-color: #FD9D00;
}

header img {
  float: left;
  margin-top: 1px;
  margin-top: 1px;
  margin-top: 0.05rem;
  margin-right: 6px;
  margin-right: 6px;
  margin-right: 0.33rem;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 0.5%;
  max-height: 42px;
  max-height: 42px;
  max-height: 2.1rem;
  border-bottom: 4px solid black;
}

footer {
  clear: both;
  padding: 0 1%;
  max-height: 42px;
  max-height: 42px;
  max-height: 2.1rem;
  position: relative;
  top: 25px;
}

footer p {
  color: black;
  margin: 0px 0px 0px 10px
}



/* Navigation
   ================================================================ */
nav {
  float: right;
  padding: 0px;
  text-align: right;
}
nav ul {
    padding: 0px;
    margin: 0px;
}

nav li {
  float: left;
  text-align: center;
}

nav a {
  display: block;
  padding: 5px;
}

nav a:hover {
  color: #deece6;
}

header nav strong {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.hamburger {
  display: none;
  float: right;
  cursor: pointer;
  color: black;
}

/* Buttons
   ================================================================ */
.button, .button:visited {
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  border-radius: 5px;
  background: #deece6;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
}

/* Super info button in blurb */
.left-blurb .button {
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  color: white;
  background: #fa4542;
}

.left-blurb .button:hover {
  color: white;
  background: #f6201d;
}

.right-blurb .button {
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  color: white;
  background: #fa4542;
}

.right-blurb .button:hover {
  color: white;
  background: #f6201d;
}

.banner-blurb .button {
  -webkit-transition: all .2s ease;
          transition: all .2s ease;
  color: white;
  background: #fa4542;
}

.banner-blurb .button:hover {
  color: white;
  background: #f6201d;
}



/* Tagline
   ================================================================ */
.tagline {
  position: relative;
  top: 42px;
  top: 42px;
  top: 2.1rem;
  width: 100%;
  font-family: "Merriweather", serif;
  font-size: 25px;
  font-size: 25px;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 20px;
  line-height: 20px;
  line-height: 1rem;
  margin: 0;
  padding: 20px 0.5%;
  padding: 20px 0.5%;
  padding: 1rem 0.5%;
  text-align: center;
  border-top: 1px solid #aaa;
  background-color: #deece6;
  border-bottom: 2px solid black;
}


/* Banner
   ================================================================ */

.banner {
  position: relative;
  top: 42px;
  top: 2.1rem;
  overflow: hidden;
  width: 100%;
  height: 650px;
  /*box-shadow: inset 0 0 5px rgba(0,0,0,.75);*/
}

.banner video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.banner video.fillWidth {
  width: 100%;
}

/*#img1 {
  background-image: url(../img/banner/chicago.jpeg);
}
#img2 {
  background-image: url(../img/banner/forest.jpeg);
}
#img3 {
  background-image: url(../img/banner/gg-bridge-friends.jpeg);
}
#img4 {
  background-image: url(../img/banner/hiking.jpeg);
}
#img5 {
  background-image: url(../img/banner/wooden-bridge.jpeg);
}

#bannerImg {
  position: absolute;
  z-index: 0;
  width: 500%;
}

#bannerImg div {
  float: left;
  width: 20%;
  height: 649px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: margin-left 1s ease;
          transition: margin-left 1s ease;
}*/

/*Move image one over to the left*/
.img-moved-left {
  margin-left: -100%;
}

/*Move image one over to the right*/
.img-moved-right {
  margin-right: -100%;
}

.banner-blurb {
  position: relative;
  z-index: 1;
  float: right;
  width: 70%;
  margin: 4% 15%;
  padding: 4%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
}

/* Info Sections (Call to action columns)
   ================================================================ */
.info {
  position: relative;
  top: 25px;
  float: left;
  width: 92%;
  height: 650px;
  margin: 4% 4% 0% 4%;
  padding: 2% 1.5%;
  border: 3px solid black;
  border-radius: 10px;
  overflow: hidden; 
}

.info:last-of-type {
  margin-bottom: 4%;
}

.infoImg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 500%;
}

.infoImg div {
  float: left;
  width: 20%;
  height: 644px;
  border-radius: 7px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: margin-left 1s ease;
          transition: margin-left 1s ease;
}

#tasteImg1 {
  background-image: url(../img/info/eat_1.jpeg);
}
#tasteImg2 {
  background-image: url(../img/info/drink_1.jpeg);
}
#tasteImg3 {
  background-image: url(../img/info/eat_2.jpeg);
}
#tasteImg4 {
  background-image: url(../img/info/drink_2.jpeg);
}
#tasteImg5 {
  background-image: url(../img/info/eat_3.jpeg);
}

#sightsImg1 {
  background-image: url(../img/info/sights_1.jpeg);
}
#sightsImg2 {
  background-image: url(../img/info/sights_2.jpeg);
}
#sightsImg3 {
  background-image: url(../img/info/sights_3.jpeg);
}
#sightsImg4 {
  background-image: url(../img/info/sights_4.jpeg);
}
#sightsImg5 {
  background-image: url(../img/info/sights_5.jpeg);
}

#soundsImg1 {
  background-image: url(../img/info/sounds_1.jpg);
}
#soundsImg2 {
  background-image: url(../img/info/sounds_2.jpeg);
}
#soundsImg3 {
  background-image: url(../img/info/sounds_3.jpeg);
}
#soundsImg4 {
  background-image: url(../img/info/sounds_4.jpeg);
}
#soundsImg5 {
  background-image: url(../img/info/sounds_5.jpeg);
}

.right-blurb {
  position: relative;
  z-index: 1;
  float: right;
  width: 520px;
  margin: 4%;
  padding: 4%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
}

.left-blurb {
  position: relative;
  z-index: 1;
  float: left;
  width: 520px;
  margin: 4%;
  padding: 4%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
}

/* Responsive layouts
   ================================================================ */
 @media screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }

  header img {
    max-height: 28px;
    max-width: 28px;
  }
}


@media screen and (max-width: 730px) {

  header {
    border-bottom: 0px solid black;
  }

  .tagline {
    display: none;
  }

  .banner {
    width: 100%;
  }

  .banner-blurb, .left-blurb, .right-blurb {
    float: none;
    width: 90%;
    margin: 5%;
  }

  header img {
    max-height: 32px;
    max-width: 32px;
    margin-top: 1px;
  }

  header h1 {
    font-size: 1.2rem;
    line-height: 2;
    margin-top: 1px;
  }


  /* Hamburger Menu Styles */

  .hamburger {
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    font-size: 24px;
  }

  nav li {
    display: block;
    float: none;
    text-align: left;
  }


  nav ul {
    width: 130px;
    background-color: #FD9D00;
    top: 30px;
    right: 0;
    position: absolute;
    padding-left: 10px;
    border-radius: 0px 0px 0px 10px;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 350ms ease-in-out;
    transition: height 350ms ease-in-out;
  }

  .open {
    height: 180px;
  }
}
/* End Responsive layouts
   ================================================================ */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
